<p id="notice"><%= notice %></p>
<h3>Attended events:</h3>
<ul>
<% @events.each do |ev|  %>
	<li><%= ev.title %></li>
<% end%>
</ul>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
